@import "../../../../styles/global-settings.scss";

.kpiImplementationListWrapper,
.ant-input-affix-wrapper {
  gap: 10px;
  .ant-card {
    .ant-card-body {
      border-radius: none;
      padding: 12px 24px 24px 24px;
    }
  }
  &__noData {
    display: flex;

    flex-direction: column;

    padding: 120px;
    .EmptyDataComponent__buttons__customButton {
      padding-top: 30px;
    }
    .EmptyDataComponent__buttons__customButton button {
      width: 118px;
      margin: 0 auto;
    }
  }

  &__kpiListPagination {
    padding-top: 12px;
  }
  &__kpiList {
    padding-top: 12px;
  }

  .ant-card .ant-card-body {
    padding: 12px 24px;
  }

  &__rowHeader {
    display: flex;
    align-items: center;
    padding: 0px;
  }

  &__button {
    width: 118px;
    height: 32px;
  }

  &__dropdown {
    width: 150px !important;
    height: 32px !important;
    border: none !important;
    border-radius: 4px !important;
    margin-left: 20px;
  }
  &__search {
    width: 300px !important;
    height: 40px !important;
    border: none !important;
    border-radius: 8px !important;
    background: $neutral-6 !important;
    .ant-select-selector,
    .ant-input-outlined:focus,
    .ant-input-outlined:hover {
      background: $neutral-6 !important;
      border: none !important;
      width: 300px !important;
    }
    .ant-select-selector::before {
      content: url("assets/icons/searchIcon.svg");
      font-size: 5px !important;
      margin-left: 4px !important;
    }
    span {
      color: $title-45 !important;
    }
    span.ant-select-selection-placeholder {
      margin-left: 20px !important;
    }
    .ant-select-arrow {
      display: none !important;
    }
    &:hover input.ant-input,
    &:hover .ant-select-selector {
      background: $neutral-6 !important;
      border: none !important;
      width: 300px !important;
    }

    /* Focus effect */
    &:focus-within input.ant-input,
    &:focus-within .ant-select-selector {
      background: $neutral-6 !important;
      border: none !important;
      width: 300px !important;
    }
    input.ant-input {
      background: none !important;
    }
  }
  &__rolesListPagination {
    padding-top: 12px;
  }
  &__rolesList {
    padding-top: 12px;
    height: calc(100vh - 305px);
    overflow-y: scroll;
  }
  .ant-card {
    height: calc(100vh - 155px);
    margin: auto;
  }
  .ant-card-body {
    height: 100%;
    padding: 12px 24px !important;
  }
  .ant-table-body {
    overflow-x: hidden !important;
  }
}

.kpiTableWrapper {
  padding-top: 12px;
  thead.ant-table-thead {
    @include textfontstyle;
    font-weight: 500;
    font-size: 14px;
    color: $title-85;
  }
  tr.ant-table-row {
    @include textfontstyle;
    font-weight: 400;
    font-size: 14px;
    color: $title-85;
  }
  .column-title,
  &__columnTitle {
    display: flex;
    justify-content: space-between;
    &__name {
      display: grid;
      grid-template-columns: 10% 1fr 10%;
      justify-content: center;
      align-items: center;

      .sortArrows {
        @include flexprob;
        flex-direction: column;
        gap: 2px;
        cursor: pointer;
      }
    }
    .sortArrows,
    span {
      @include flexprob;
      flex-direction: column;
      gap: 2px;
      cursor: pointer;
    }
  }
  &__nameData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 190px;
    .viewName {
      margin-left: 0px;
      display: flex;
    }
    .otp-btn {
      background-color: $red-3;
      border-radius: 20px;
      color: #fff;
      margin-left: 10px;
      padding: 0;
      width: 50px;
      height: 23px;
      border: 0;
      span {
        line-height: 24px;
      }
    }
    span {
      @include textfontstyle;
    }
    span.ant-avatar.ant-avatar-circle.mr-10 {
      background-color: $volcano-4;
      color: $neutral-1;
      margin-right: 10px;
    }
    .name {
      color: $primary-4;
    }
  }
  &__status {
    @include flexprob;
    justify-content: flex-start;
    gap: 8px;
  }
  &__roles {
    width: 80px;
  }
  &__createdBy {
    width: 120px;
  }

  &__subItems {
    // width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.kpi__statusFilter {
  display: flex;
  flex-direction: column;
  .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: $primary-6;
    background-color: $neutral-1;
  }
  .ant-radio-wrapper .ant-radio-inner::after {
    background-color: $primary-6;
  }
}

// more content
.moreContent__items {
  list-style: none;
  padding-bottom: 12px;
}
.moreContent__items:last-child {
  padding-bottom: 0px !important;
}

.moreContent__option {
  font-size: 14px;
}

.moreContent__option:hover {
  cursor: pointer;
}

.moreContentIcon {
  margin-right: 8.6px;
  vertical-align: middle;
}

// table column

.column__kpiName {
  width: 236px;
  padding: 11px 16px 11px 11px !important;
}
.column__description {
  width: 263px;
  padding: 11px 16px !important;
}
.column__type {
  width: 99px;
  padding: 11px 16px !important;
}
.column__nodeLevel {
  width: 119px;
  padding: 11px 16px !important;
}
.column__uom {
  width: 99px;
  padding: 11px 16px !important;
}
.column__valueType {
  width: 99px;
  padding: 11px 16px !important;
}
.column__aggregationType {
  width: 99px;
  padding: 11px 16px !important;
}
.column__targetType {
  width: 99px;
  padding: 11px 16px !important;
}

.custom-popover-content {
  width: 204px;
}
.moreContent__option.disable {
  pointer-events: none;
}

.kpiTable__subItems {
  height: 32px;
  // width: 32px;
  border-radius: 50%;
  background-color: $neutral-4;
  text-align: center;
  color: $gray-6;
  font-size: 14px;
  padding: 5px;
}
