@import '../../../../styles/global-settings.scss';
.steamRateWrapper {
    width: 100%;
    height: 275px;
    margin-bottom: 16px;
    font-weight: 500;
    .ant-card-body {
        width: 100%;
        height: 100%;
        .steamRateContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            &__span-tag{
                font-size: 16px;
            }
            &__charts {
                width: 100%;
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                div:nth-child(1) {
                    width: 100%;
                    height: 100%;
                    @include flexprob;
                    overflow: visible !important;
                    .highcharts-credits {
                        display: none;
                    }
                }
            }
            &__loader {
                @include flexprob;
                width: 100%;
                height: 100%;
            }
        }
    }
}
